@model IEnumerable<PayRoll.Models.TimeOffRequest>

@{
    ViewBag.Title = "AdminApproval";
}

<h2>AdminApproval</h2>

<table class="table">
    <tr>
        <th>Time Off Request ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Reason</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOffRequestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.ActionLink("Accept", "Accept", new { id = item.TimeOffRequestId }) |
                @Html.ActionLink("Decline", "Decline", new { id = item.TimeOffRequestId })
            </td>
        </tr>
    }
</table>

