<<<<<<< HEAD
﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>
            @Html.ActionLink("Punch In/ Punch Out", "ManageAttendance", "Manage")
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log out", "Logout", "Employees", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
=======
﻿<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Punch", "ManageAttendance", "Attendance")</li>
    <li>@Html.ActionLink("Change Password", "Index", "ChangePassword")</li>
    <li>@Html.ActionLink("Log out", "Logout", "Employees", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
>>>>>>> 05a58a47ea21009b6645c7f1a461045f2bfef14b
