@model IEnumerable<PayRoll.Models.Attendance>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SignInTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignOutTime)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SignInTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SignOutTime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AttendanceId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AttendanceId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AttendanceId })
                </td>
            </tr>
        }
    }

</table>
