@model IEnumerable<PayRoll.Models.Payroll>

@{
    ViewBag.Title = "Payrolls";
}

<<<<<<< HEAD
<h2>Index</h2>
=======
<h2>Payrolls</h2>
>>>>>>> 05a58a47ea21009b6645c7f1a461045f2bfef14b

<table>
    @{

        DateTime currentDate = DateTime.Today;
<<<<<<< HEAD
        //int currentYear = currentDate.Year;
        //DateTime monthStart = new DateTime(currentDate.Year, currentDate.Month, 1);
        //DateTime monthMiddle = monthStart.AddDays(14);
        //DateTime monthEnd = monthStart.AddMonths(1).AddDays(-1);
        //if (currentDate.Day > monthMiddle.Day)
        //{

        //}
        //else
        //{

        //}
=======
>>>>>>> 05a58a47ea21009b6645c7f1a461045f2bfef14b

        string id = "";
        if (ViewBag.Id != null)
        {
            id = " " + ViewBag.Id;
        }

        DateTime yearStart = new DateTime(currentDate.Year, 1, 1);
        for (int i = 0; i < currentDate.Month - 1; i++)
        {
            DateTime firstPeriodStart = yearStart.AddMonths(i);
            DateTime firstPeriodEnd = firstPeriodStart.AddDays(13);

            DateTime secondPeriodStart = firstPeriodStart.AddDays(14);
            DateTime secondPeriodEnd = firstPeriodStart.AddMonths(1).AddDays(-1);

            <tr><td>@Html.ActionLink(firstPeriodEnd.ToShortDateString(), "Details/" + firstPeriodStart.Month + " " + 1 + id)</td></tr>
            <tr><td>@Html.ActionLink(secondPeriodEnd.ToShortDateString(), "Details/" + secondPeriodStart.Month + " " + 2 + id)</td></tr>
        }


<<<<<<< HEAD
    }
</table>





@*<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegularHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverTimeHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HourlyRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Earnings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeginningVacation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VacationHrsTaken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncomeTaxes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegularHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverTimeHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Earnings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginningVacation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VacationHrsTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeTaxes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PayrollId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PayrollId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PayrollId })
            </td>
        </tr>
=======
>>>>>>> 05a58a47ea21009b6645c7f1a461045f2bfef14b
    }
</table>
